@media (min-width: 768px){
  #social-feature #tweet_text {
    padding-top: 12px;
  }
}

@media (max-width: 575px) {
  .menu-top {
    width: 100%;
  }
}
@media (max-width: 767px) {
  #social-icons ul {
    padding-top: 20px;
    display: table;
    /*width: 170px;*/
    margin: 0 auto;
  }
  #social-icons ul li {
    margin-right: 10px;
  }

  #hp-buttons ul {
    display: block;
    margin: 0 -5%;
  }
  #hp-buttons ul li {
    width: 40%;
    margin: 0 5%;
    float: left;
  }
}
@media (max-width: 991px) {
  #social-icons img {
    width: 41px;
  }
}